body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav p {
    color: #000000;
    margin: 0 15px;
    cursor: pointer;
    font-size: 20px;
    position: relative;
    padding-bottom: 5px;
}

nav p::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 100px;
    height: 3px;
    background-image: url('images/kc-streck.gif');
    background-size: cover;
    opacity: 0;
    transition: opacity 0.3s ease;
}

nav p:hover::after {
    opacity: 1;
}

.main-content {
    margin-bottom: 30px;
    text-align: center;
    justify-content: center;
}

.content-box {
    padding: 20px;
    background-color: #fff;
    width: 80%;
    max-width: 1000px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px auto;
    text-align: left;
}

.content-text-second {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    width: 75%;
}
/* bilen */
.content-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px; /* Justera storleken efter behov */
    height: auto;
}

button {
    background-color: #BE1E2D;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}

.button-container {
    display: flex;
    justify-content: flex-end; /* Flyttar knapparna till höger */
    gap: 10px;
    margin-top: 10px;
    width: 100%; /* Gör att knapparna stannar till höger inom innehållet */
}

.expand-button {
    background-color: #F26522;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.expand-button:hover {
    background-color: #BE1E2D;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* symbolen */
.header-logotype {
    width: 60px;
    height: auto;
    display: block;
    margin: 20px auto;
}

/* texten */
.header-logo {
    width: 220px;
    height: auto;
    display: block;
    margin: 20px auto;
}

.sticky-footer {
    position: sticky;
    bottom: 0;
    background-color: #651616;
    color: #d5cbcb;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 200px;
}

.footer-logos {
    display: flex;
    align-items: center;
}

.footer-logo {
    width: 50px;
    height: auto;
}

.footer-logo.flip {
    transform: rotate(180deg);
}

.footer-text {
    text-align: center;
    flex-grow: 1;
}

.footer-text p {
    margin: 5px 0;
}

.nav-menu {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.hamburger-menu {
    display: none;
}

/* Responsiv design för mindre skärmar */
@media (max-width: 768px) {
    .content-box {
        flex: 1 1 100%;
        max-width: 100%;
    }
    .content-text-second {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        gap: 20px;
        max-width: 1200px;
        margin: 0 auto;
        width: 90%;
        flex-direction: column;
        align-items: center;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .hamburger-menu {
        display: block;
        background-color: transparent;
        border: none;
        font-size: 30px;
        cursor: pointer;
        margin: 10px;
        color: #CC0000;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .nav-menu.open {
        display: flex;
    }
}
.logo-container {
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    margin: 40px 0; 
    padding: 0 20px; 
}

.logo {
    width: 70px;
    height: 70px; 
    border-radius: 50%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    object-fit: cover; 
}

@media (max-width: 640px) {
    .content-box {
        width: 90%;
        padding: 15px;
    }
    .content-text-second {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        gap: 20px;
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .content-text {
        padding: 0 10px;
    }

    .footer-content {
        padding: 10px 0 30px 0;
    }
    .footer-logos-left, .footer-logos-right {
        display: none;
    } 
    .custom-line {
        border-top: 2px solid #BE1E2D;
        width: 90%;
        margin: 20px auto;
        border-radius: 100px;
    }
    .logo-container {
        display: flex;
        justify-content: space-around; 
        align-items: center;
        margin: 40px 0; 
        padding: 0 20px;
    }
    
    .logo {
        width: 60px; 
        height: 60px; 
        border-radius: 50%; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        object-fit: cover; 
    }
}
@media (max-width: 375px) {

    .custom-line {
        border-top: 2px solid #BE1E2D;
        width: 90%;
        margin: 20px auto;
        border-radius: 100px;
    }
    .logo-container {
        display: flex;
        justify-content: space-around; 
        align-items: center;
        margin: 40px 0; 
        padding: 0 20px;
    }
    
    .logo {
        width: 40px; 
        height: 40px; 
        border-radius: 50%; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        object-fit: cover; 
    }
}
